.App{
  background-image: url("https://www.rei.com/dam/parrish_091412_0679_main_lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  font-size: 40px;
  text-align: center;
  margin-top: 0;
}
.big_div{
  align-items: baseline;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.img1 { grid-area: 1 / 1 / 2 / 3; }
.img2 { grid-area: 1 / 3 / 2 / 5; }
.img3 { grid-area: 2 / 1 / 2 / 3; }

.img4 { grid-area: 2 / 3 / 2 / 5; }
.img5 { grid-area: 3 / 1 / 3 / 3; }
.img6 { grid-area: 3 / 3 / 3 / 5; }


.img_text1{
  grid-row: 1;
  grid-column: 1;
} 
.img_text2{
  grid-row: 1;
  grid-column: 3;
}
.img_text3{
  grid-row: 2;
  grid-column: 1;
}
.img_text4{
  grid-row: 2;
  grid-column: 3;
}
.img_text5{
  grid-row: 3;
  grid-column: 1;
}
.img_text6{
  grid-row: 3;
  grid-column: 3;
}
.region_image{

  height: 450px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid #FDFBF6;
  

}
/* .region_image:hover{
  opacity: 0.2;
} */
.text{
  font-size: large;
  color: #9C7459;
  /* border: 1px solid black; */
  background-color: #EAD6A0;
  border-radius: 7px;
}
.text:hover{
  opacity: 0.5;
}

.nav{              
  background-color: #EAD6A0;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
.nav2{
  background-color: #EAD6A0;
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  text-decoration: none;
  color: #D87C74;
}
.nav2:hover{
  color: steelblue;
  text-decoration: underline;
}
.about_text{
  font-size: large;
  color: #9C7459;
  background-color: #EAD6A0;
  border-radius: 7px;
}
.footer{
  background-color: #EAD6A0;
  display: flex;
  border-radius: 12px;
}